// =============================================================================
// PDP recommendations module
// =============================================================================

.pdp-section-recommendations {
	margin: 0;
	padding: 50px 0 0 0;
	width: 1280px;
	width: 100%;
	.beta-heading {
		margin: 0 0 35px 0;
		padding: 0;
		text-align: center;
	}
	.recommendations-list {
		margin: 0;
		padding: 0;
		text-align: center;
		width: 100%;

		li {
			float: none;
			text-align: center;
			display: inline-block;
			.recommendationsGift {
				width: 600px;
			}
		}
		.tooltip-content {
			display: none;
		}
		.thumbnail {
			display: block;
			margin: 0 auto;
		}
		.analytics {
			font-weight: $bold;
			margin: 0 0 6px 0;
			letter-spacing: 1px;
		}
		.product-name {
			font-weight: $regular;
			margin: 0 0 15px 0;
			letter-spacing: 1px
		}
		.product-price {
			padding: 7px 0 0 0;
			.price-standard,
			.price-sales {
				@include price;
			}
		}
	}
}