// =============================================================================
// 4 Column Grid Layout
// =============================================================================


.cols4-col {
	float: left;
	position: relative;
	width:25%;
}