// =============================================================================
// 3 Column Grid Layout
// =============================================================================

.row {
	width: 100%; 
	position: relative;
	.col {
		float: left;
		position: relative;
	}
	.col-1-3  {
		width: 33.33333333%;
	}
}