// =============================================================================
// 4 Column Grid Layout
// =============================================================================

.cols2-col {
	float: left;
	position: relative;
	width:50%;
}