// =============================================================================
// Colour variables
// =============================================================================


// Background Colors -----------------------------------------------------------
$bgbody: #1c1c1a;
$bgheader: #000000;
$brandBg:#9e8a59;
$bgheaderTrans: rgba(19,19,20,0.7);
$bgNavigation: #000;
$stickyLinks: #131314;
$basketBottom: #0D0D11;
$checkoutModulesBg:#1c1c1a;
$blackBg:#000;
$overlayBg:#1d1d1d;	
$orderCnfBgBanner:#61573b;
$pdpReccomBg:#1e1e1c;
$accColor:#1f1f1e;
$lightgold:#cecbae;
$packerygreyText:#222222;
$mc_border:#2c2537; 
$lightbrown:#f8e9cf;

//Text Colors ------------------------------------------------------------------
$bodycolor:#fff;
$brandcolor: #9e8a59;
$darkblack:#222;
$lightGreyText:#666;
$greyText: #888; 
$darkgrey: #333;
$promoMsg: #9980c2;
$accessoryHead: #9882c1;
$footerLinks: #888;
$footerDivider:#9e8a59;
$lightboxBg:#211e29;
$lightgreen:#9e996c;
$plpProductNames:#898989;





//Borders ----------------------------------------------------------------------
$brandBorder:#9e8a59;
$headerDivider:#3a3a3a;
$checkoutModule:#414141;
$inputBorder:#333;
$lightboxBorder:#9e9a6b;
$basketBorder:#3e3e3e;
$fieldsborder:#7d7d7d;


$lightpurple: #7e6ca0;
$mediumpurple: #4a415f;
$darkpurple: #2b2637;
$lightgrey: #666;
$lightergrey: #888;
$midgrey01: #d0d0d2;
$midgrey02: #CCCCCC;
$mildgrey:#e7e7e8;

$darkergrey: #0a0a0b;
$darkgrey01: #0d0d0d;
$lightblack: #111;
$blackgrey: #131314;

$violet01: #9882c1;
$violet02: #d1c9df;
$violet03: #4d4362;
$black: #000;
$white:#fff;
$red: #ff5252;
$mediumred: #763036;
$strongred: #fe3f3f;
$searchText: #555555;
$purple01 : #1b1923;
$bundleborder:#323230;

// Element Colors --------------------------------------------------------------
$background_color: $blackgrey;
$text_color: $white;
$link_color: $brandcolor;
$hover_color: $brandcolor;
$focus_color: $brandcolor;
$highlight_color: $brandcolor;
$border_color: $lightpurple;
$border_light: $lightergrey;
$border_dark: $darkpurple;
$button_color: $lightpurple;
$tooltip: #16151d;
$input_border: $darkgrey;
$input_background: $black;
$input_color:$lightergrey;
$footer_top: $blackgrey;
$footer_bottom: #060608;
$nav_bg: #060608;
$error: $red;
$header_bgnd_01: rgba(19,19,20,0.7);


// GRADIENT COLORS -----------------------------------------------------------------
$darkgrey02: #090909;
$darkgrey03: #090903;


// Brand Specific Colors -----------------------------------------------------------------
$veuveClicquot: #ffb400;
$moetChandon: #bfab57;
$krug: #81703a;
$domPerignon: #aea67c;
$mercier: #98170d;
$ruinart: #321600;
$capeMentelle: #242d10;
$chevalAndes: #5e4924;
$cloudyBay: #5d6649;
$newton: #cdb64c;
$numanthia: #8a480c;
$terrazas: #9a9d7d;
$ardberg: #2f3f0d;
$belvedere: #2545a4;
$glenmorangie: #bb751b;
$hennessey: #f4df7d;