.carouselEpages {
	.bootCaro {
		height:650px;
		.bootCaro-caption{
			top: 204px;
			p.title {
				font: $largeFontSize $titleFont;
				color: $white;
				text-align:center;
			}
			h2 {
				font: $firstHeading $titleFont;
				color: $white;
				text-align:center;
			}
			p {
				font: $smallHeading $copyFont;
				text-align: center;	
			}
			.buttonEpages {
				text-align:center;
			}
		}
		.carousel-indicators { 
			bottom: 30px;
			li {
				background-color: $white;
				border: none;
				width:10px;
				height:10px;
				.hoverContent {
					h3 {
						font:$standardFontSize $titleFont;
						color: $brandColor;
					}
				}
			}
			.active {
				background-color: $secondaryColor;
				border: none;
				width:16px;
				height:16px;
				top:2px;
			}
		}
		.carousel-control {
			color: $white;
			left:20px;
			&.right {
				right:22px;
				left:auto;
			}
		}
	}
}