@font-face {
	font-family: 'dearJoesmooth-Regular';
	src: url('fonts/291B26_0_0.eot');
	src: url('fonts/291B26_0_0.eot?#iefix') format('embedded-opentype'),
		url('fonts/291B26_0_0.woff') format('woff'),
		url('fonts/291B26_0_0.ttf') format('truetype');
}