.container-pdp {
	background: $eModulesBg;
	.pdp-section-hero {
		background: $white;
		.column-details {
			.product-list-wrap {
				margin:0 0 30px 0;
			}
			.col-inner {
				margin: 80px 0 0 80px;
				.product-logo {
					display: none;
				}
				.product-shop-module {
					.promotion {
						.promotion-callout {
							p {
								font:$standardFontSize $regularFont;
								color: $brandColor;
							}
							.cta {
								font-size: $mediumFontSize;
							}
						}
					}
					.product-add-to-cart {
						.quantity {
							.quant-mod-btn {
								border: none;
								background: $plusIconBg;
								&.js-disabled {
									@include opacity(0.5);
									span {
										color: $brandBg;
									}
								}
								&.quant-mod-btn-neg {
									span {
										margin: -1px 0 0;
									}
								}
								span {
									color: $brandBg;
									font-size: $forthHeading;
								}
							}
							input {
								color: $inputText;
							}
						}
						.attribute {
							.customSelect {
								.selectedContent {
									background: transparent url("images/sprite.png") no-repeat right 2px;
									color: $selectBoxBorder;
									border: $selectBoxBorder 1px solid;
									font:$mediumFontSize $regularFont;
									line-height:30px;
									li {
										&.active {
											&.selected {
												.cont {
													padding: 2px 0 0 0;
													.pName {
														width: 160px;
													}
												}
											}
										}
									}
								}
								.customOptions {
									background: $eModulesBg;
									li {
										span {
											font:$mediumFontSize $regularFont;
											color: $inputText;
											&.cont{
												&:hover * {
													color: $brandColor !important;
													&:after{
														color: $brandColor !important;
													}
													&:hover{
														color: $brandColor !important;
													}
												}
											}
										}
										&.selected {
											span {
												color: $inputText;
												&:after {
													color: $inputText;
												}
											}
										}
										
									}
								}
								.nano {
									border: $inputBorder 1px solid;
									.pane {
										.slider {
											background: $inputBorder;
										}
									}
								}
							}
						}
					}
				}
				.notification {
					background: $eModulesBg;
					border: $notifications 0px solid;
					padding: 7px;
					.beta-heading {
						font:$standardFontSize $copyFont;
						margin-bottom: 5px;
						color: $secondaryColor;
					}
					.message {
						font:$mediumFontSize $copyFont;
						color: $secondaryColor;
					}
					.notification_inner {
						background: $notifications;
						border: $secondaryColor 1px solid;
					}
				}
			}
			.product-price {
				font: $largeFontSize $copyFont;
				color: $brandColor;
			}
			.boxDescription {
				font: $standardFontSize $regularFont;
				color: $brandColor;
			}
			.product-list {
				.products-tile-bg {
					display: none;
				}
			}
			.out-of-stock-msg {
				font: $mediumFontSize $regularFont;
			}
			.keep-me-updated {
				font: $mediumFontSize $regularFont;
			}
		}
		.alpha-heading {
			font: $secondHeading $titleFont;
			color: $brandColor;
			text-transform: none;
			letter-spacing: 2px;
		}
		p {
			&.lead-copy {
				font: $smallHeading $copyFont;
				color: $brandColor;
				line-height: 24px;
				.limit-para-trigger {
					color: $brandColor;
				}
			}
		}
		.sup-info {
			a {
				color: $brandColor;
				font: $mediumFontSize $copyFont;
			}
		}
	}
	.signoff {
		display: none;
	}
	.pdp-section-inner {
		padding-bottom: 0;
	}
}
.delivery-dialog, .promo-detail-dialog {
	h1, h2, h3 {
		color: $brandColor;
		font-family: $regularFont;
	}
	p {
		color: $brandColor;
		font-family: $regularFont;
	}
}
.ui-dialog .ui-dialog-content {
	color: $formLabelText;
	font-family: $regularFont;
}
.isGift { 
	.pdp-section-hero {
		height: 800px;
		.pdp-section-row {
			position: relative;
			.column-hero {
				text-align: center;
				height: 890px;
				img.img-hero {
					width: auto;
					/*height: 650px;*/
					display: inline;
				}
			}
			.column-details {
				.product-list-wrap {
					width:50%;
					position: absolute;
					right:0;
					top: 521px;
					background: url("images/divider_01.png") repeat-x left top;
					&:after {
						background: none;
					}
					.product-list {
						padding: 40px 0;
						li {
							margin-right: 50px;
						}
						.products-tile-bg {
							display: block;
							&:before {
								background-color: #fbb600;
							}
						}
					}
				}
			}
		}
	}
}
.pdp-gift {
	.product-primary-image {
		img { 
			height: 280px;
		}
	}
}