


//Typography -----------------------------------------------------------
$titleFont: dearJoesmooth-Regular;
$regularFont: "futura-pt";
$copyFont: "brandon-grotesque";

$smallFontSize: 11px;
$mediumFontSize: 12px;
$largeFontSize: 20px;
$standardFontSize: 14px;
$smallHeading: 16px;
$firstHeading: 50px;
$secondHeading: 36px;
$thirdHeading: 30px;
$forthHeading: 26px;

$light: 300;
$regular: 400;
$bold: 700; 
$lineHeight: 1.5;





// Background Colors -----------------------------------------------------------
$bodyBg: #f3f3f3;
$headerBg: #fff;
$headerBgTrans: rgba(19,19,20,0.7);
$brandBg: #f0e6d7;
$buttonBg: #f0e6d7;
$buttonBackBg: #bc9e54;
$eModulesBg: #f3f3f3;
$productBg: #fff;
$notifications: #f3f3f3;
$plusIconBg : #bc9e54;
$navigationBg : #faf2ec;




//Text Colors ------------------------------------------------------------------
$white: #fff;
$black: #000;
$gray: #333;
$lightGray: #676767;
$brandColor: #191919;
$copyColor: #333333;
$secondaryColor: #bc9e54;
$errorColor: #fe3f3f;
$topNavColor: #212121;
$topNavSelected: $brandColor;
$linkColor: #d4d4d4;
$linkHoverColor: #d4d4d4;
$buttonColor: #bc9e54;
$formLabelText: $brandColor;
$closeBtnColor: #363535;
$inputText: #888;




// Border Colors -----------------------------------------------------------
$errorBorder: #fe3f3f;
$brandBorder: #fff;
$topNavBorder: $brandBorder;
$buttonBorder: $brandBorder;
$inputBorder: #bababa;
$selectBoxBorder: #919191;
$navigationBorder: #eee1ce;


