


//Typography -----------------------------------------------------------
$titleFont: dinregular;
$regularFont: rotisserifregular;

$smallFontSize: 10px;
$mediumFontSize: 12px;
$largeFontSize: 20px;
$standardFontSize: 14px; 
$firstHeading: 50px;
$secondHeading: 40px;
$thirdHeading: 30px;
$forthHeading: 26px;

$light: 300;
$regular: 400;
$bold: 700;
$lineHeight: 1.5;





// Background Colors -----------------------------------------------------------
$bodyBg: #222;
$headerBg: #fff;
$headerBgTrans: rgba(19,19,20,0.7);
$brandBg: #9e8a59;
$buttonBg: #9e8a59;
$eModulesBg: #161615;
$productBg: #090909;
$notifications: #231f1f;
$plusIconBg : #302b2a;




//Text Colors ------------------------------------------------------------------
$white: #fff;
$black: #000;
$gray: #989898;
$brandColor: #9e8a59;
$copyColor: #222;
$errorColor: #fe3f3f;
$topNavColor: #212121;
$topNavSelected: $brandColor;
$linkColor: #d4d4d4;
$linkHoverColor: #d4d4d4;
$buttonColor: $brandColor;
$formLabelText: #ffffff;
$closeBtnColor: #363535;
$inputText: #888;




// Border Colors -----------------------------------------------------------
$errorBorder: #fe3f3f;
$brandBorder: #9e8a59;
$topNavBorder: $brandBorder;
$buttonBorder: $brandBorder;
$inputBorder: #333;
$errorBorder: #763036;
$selectBoxBorder: #919191;


