.productBunle{
	border-top:1px solid $brandcolor;
	padding:43px 0;
	.beta-heading{
		color:$brandcolor;
	}
	.productItem{
		color:$greyText;
		background:none;
		p{
			line-height:16px;
			width:300px;
			margin:0 auto;
			font-family:$base-font-family;
			color:$bundlegrey;
			text-transform:none;
			a{
				text-decoration:underline;
				color:$bundlegrey;
			}
			&:hover a{
    		text-decoration:none;
    		}    
		}
		.products-tile-bg {
	    	background-image: url("../img/common/radial-gradient.png");
		    top: 250px;
		    left: 50%;
		    margin:0 0 0 -150px;
		    height: 130px;
		    position: absolute;
		    transition: opacity 0.5s ease 0s;
		    width: 300px;
		    z-index:-1;
		    opacity:0;
    	}
    	.item{
    		&:hover .products-tile-bg{
				opacity:1;
			}
    	}	
	}
	h2, h3, h4{
		color:$packerygreyText;
	    font-family: $heading-font-family;
	    font-size: $very_small_text;
	    font-weight:$bold;
	    letter-spacing: 1px;
	    text-transform: uppercase;
	}
	h3, h4{
		font-weight:$regular;
	}
}