.overlay{
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 98;
    top:103px;
    display:none;
}
.articleContentArea{
	.moetCaro {
		width:998px;
		margin:0 auto 20px;
		position:relative;
		z-index:99;
		.box { 
			background:$white;
			height:400px;
			position:relative;
			overflow: hidden;
			z-index:98;
			ul{
				position: absolute;
				height:1024px;
				li{
					float:left; 
					width:998px; 
					height:400px; 
					background:#f4f4f4;
					overflow:hidden;
					img{
						display:block;
						margin:-280px auto 0 -100px;;
					}
				}
			}
			.pagination{
				display:none;
			}
		}
		&.galleryActive .box ul{
			cursor: url(img/icons/cursor-plus.png) 28 28, pointer !important;
		}
		.controls{
			position:absolute;
			right:0;
			z-index: 99;
			bottom:0;
			width:100px;
			font-family:$heading-font-family;
			line-height:30px;
			height:32px;
			padding:6px 0 0;
			font-size:25px;
			color:$white;
			span{
				cursor:pointer;
				display:inline-block;
				line-height:30px;
				overflow:hidden;
				width:55px;
				@include opacity(1);
				&.disable{
					@include opacity(.3);
					cursor:default;
				}
				&.next, &.prev{
					padding:0 5px;
					width:20px;
				}
			}
			.disabledLayer{
				height: 100%;
			    left: 0;
			    position: absolute;
			    top: 0;
			    width: 100%;
			    display:none;
			}
		}
	}
	.changeCaro{
		.box {
			height:1024px;
			ul{
				height: 1024px;
				li{
					width:1200px;
					height:1024px;
					img{
						margin:0 auto;
					}
				}
			}
			.pagination{ 
				display:none;
			}
		}
		.controls{
			top:50%;
			left:0;
			right:auto;
			width:100%;
			background:none;
			height:40px;
			span{
				cursor:pointer;
				display:inline-block;
				width:55px;
				position:relative;
				z-index:99;
				@include opacity(1);
				&.disable{
					@include opacity(.3);
				}
				&.next, &.prev{
					width:30px;
					line-height:30px;
					height:40px;
					float:right;
				}
				&.prev{
					float:left;
				}
				&.showCurrent{
					display:none;
				}
			}
		}
	}
}