// =============================================================================
// Password
// =============================================================================

.account-module-password {
	h2 {
		margin-bottom:24px;
	}
	.form-row-button {
		margin-bottom:0;
	}
	.account-form {
		padding-top:32px;
		padding-bottom:10px;
	}
	.showPass {
		span {
			color:#888;
			&:hover {
				color:#fff;
			}
		}
	}
	.password-fields {
		height:0;
		@include opacity(0);
		overflow:hidden;
		@include transition-property(height, opacity);
		@include transition-duration(0.4s, 0.4s);
		@include transition-timing-function($easeOutSine, $easeOutSine);
		&.password-fields-visible {
			@include opacity(1);
			.account-form {
				position:static;
			}
		}
		.account-form {
			position:relative;
		}
	}
}