@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=d047274a-9d51-40b2-b0fe-f3e2e0495b94");

@font-face{
	font-family:"Gill Sans W01 Book";
	src:url("fonts/2cebe80c-b289-4ae0-a3b0-baa82c6c6e10.eot?#iefix");
	src:url("fonts/2cebe80c-b289-4ae0-a3b0-baa82c6c6e10.eot?#iefix") format("eot"),
	url("fonts/2bc69477-90c2-4415-a51f-36e36eee3d5e.woff") format("woff"),
	url("fonts/33447d8d-d920-48e7-b0a9-1d3dda80d6a6.ttf") format("truetype"),
	url("fonts/e49c440c-7653-44ce-96d2-f775947ba9fe.svg#e49c440c-7653-44ce-96d2-f775947ba9fe") format("svg");
}


@font-face{
	font-family:"ITC Caslon 224 W01 Bold";
	src:url("fonts/66ca2fd2-1144-4463-852c-550bbbca5e02.eot?#iefix");
	src:url("fonts/66ca2fd2-1144-4463-852c-550bbbca5e02.eot?#iefix") format("eot"),
	url("fonts/10b1bb6b-24dc-4943-9799-0a221b557b0d.woff") format("woff"),
	url("fonts/ae53b659-4618-4ad8-b208-d8c40550573d.ttf") format("truetype"),
	url("fonts/08b7d666-a431-46fb-b930-6a2b04c199f4.svg#08b7d666-a431-46fb-b930-6a2b04c199f4") format("svg");
}