
//Typography -----------------------------------------------------------
$titleFont: "ITC Caslon 224 W01 Bold";
$regularFont: "Gill Sans W01 Book";

$smallFontSize: 10px;
$mediumFontSize: 12px;
$largeFontSize: 20px;
$standardFontSize: 14px; 
$firstHeading: 50px;
$secondHeading: 40px;
$thirdHeading: 30px;
$forthHeading: 26px;
$blockquoteHeading: 28px;
$baseFont:16px;

$light: 300;
$regular: 400;
$bold: 700;
$lineHeight: 1.5;





// Background Colors -----------------------------------------------------------
$bodyBg:  #141908;
$headerBg: #fff;
$headerBgTrans: rgba(19,19,20,0.7);
$brandBg: #9e9a6b;
$buttonBg: #9e9a6b;
$eModulesBg: #141908;
$eModulesBgSecondary: #1d1d1d;
$productBg: #090909;
$notifications: $buttonBg;
$plusIconBg : #2f331b;




//Text Colors ------------------------------------------------------------------
$white: #fff;
$black: #000;
$gray: #989898;
$brandColor: #9e9a6b;
$copyColor: #222;
$errorColor: #fe3f3f;
$topNavColor: #212121;
$topNavSelected: $brandColor;
$linkColor: #d4d4d4;
$linkHoverColor: #d4d4d4;
$buttonColor: $brandColor;
$formLabelText: #ffffff;
$closeBtnColor: #363535;
$inputText: #888;




// Border Colors -----------------------------------------------------------
$errorBorder: #fe3f3f;
$brandBorder: #9e9a6b;
$topNavBorder: $brandBorder;
$buttonBorder: $brandBorder;
$inputBorder: #7d7d7d;
$errorBorder: #763036;


