$light: 300;
$regular: 400;
$bold: 700;


//Typography -----------------------------------------------------------
$fixed-font-family:veuve_clicquot_serifregular;
$base-font-family:veuve_clicquot_serifregular;
$heading-font-family: veuve_clicquot_titleregular;
$secondary-font-family:veuve_clicquot_serifregular;
$base-font-weight: $regular;
$base-line-height: 1.5;
$base-font-size: 15px; 
$stand_first: 18px;
$medium-font-size: 15px;
$small_text: 14px; 
$small_heading: 13px;
$smaller_heading: 12px;
$very_small_text: 11px;
$big_text: 20px;
$medium_big_text: 25px;
$basket_big_text:40px;
$slightly_big_text:30px;
$bigger_text:50px;
$center_align:center;
$normal-font-size: 16px;
$medium_big_text_1:24px; 
$small-text-1:10px;
$small-text-2:9px;
$style-georgia-font-family:georgia;


$titleFont:'veuve_clicquot_titleregular';
$regularFont:'veuve_clicquot_serifregular';

$greyBorder:#ccc;
$picnicBorder:#d9d8d6;
$errorBorder:#fe3f3f;
$lightGreyBorder:#e7e7e8;
$selectGreyBorder:#bababa;




// Background Colors -----------------------------------------------------------
$bgbody: #161615;
$bgheader: #f7b621;
$brandBg:#ffa616;
$bgheaderTrans: rgba(19,19,20,0.7);
$bgNavigation: #000;
$stickyLinks: #131314;
$basketBottom: #0D0D11;
$checkoutModulesBg:#131310;
$blackBg:#000;
$overlayBg:#111;	
$orderCnfBgBanner:#61573b;
$pdpReccomBg:#1e1e1c;
$accColor:#1f1f1e;
$bodyGreyBg:#f2f1ee;
$basketBg:#f7f4f2;
$brandlightbg:#f7f4f2;
$packerygreyText:#222222;
$carouselindicatorGrey:#d5d4d3;
$eModulesBg:#f2f1ee;
$productBg: #090909;
$notifications: #231f1f;
$quantityBg : #494949;
$accessoriesBg: #181818;

//Text Colors ------------------------------------------------------------------
$white:#fff;
$black:#000;
$brandcolor: #ffa616;
$darkblack:#222;
$bodycolor:#8f8f8f;
$lightGreyText:#666;
$greyText: #888; 
$darkgrey: #222;
$promoMsg: #9980c2;
$accessoryHead: #9882c1;
$footerLinks: #888;
$footerDivider:#9e8a59;
$lightboxBg:#211e29;
$plpProductNames:#898989;
$ordergreytext:#d4d4d4;
$buttonColor:#f7b436;
$blackgrey:#8d9091;
$lightergrey:#adafb0;
$brandBorder:#fca128;
$white:#fff;
$black:#000;
$tastingNotesHeading: #fbb600;
$formLabel: #555;
$closeBtnColor: #363535;








