$light: 300;
$regular: 400;
$bold: 700;


//Typography -----------------------------------------------------------
$fixed-font-family:veuve_clicquot_serifregular;
$base-font-family:veuve_clicquot_serifregular;
$heading-font-family: veuve_clicquot_titleregular;
$secondary-font-family:veuve_clicquot_serifregular;
$base-font-weight: $regular;
$base-line-height: 1.5;
$base-font-size: 15px; 
$stand_first: 18px;
$medium-font-size: 15px;
$small_text: 14px; 
$small_heading: 13px;
$smaller_heading: 12px;
$very_small_text: 11px;
$big_text: 20px;
$medium_big_text: 25px;
$basket_big_text:40px;
$twtr_text:42px;
$slightly_big_text:30px;
$bigger_text:50px;
$big_title_heading_text:48px;
$title_text:36px;
$big_heading_text:60px;
$center_align:center; 
$normal-font-size: 16px;
$medium_big_text_1:24px; 
$small-text-1:10px;
$small-text-2:9px;
$style-georgia-font-family:georgia;
 
$titleFont:"Baskerville";
$regularFont:"Baskerville";
$titleHeadingFont: "kepler-std";
$trajanFont:"trajan-pro-3";
$nimbusSansFont:"nimbus-sans";

$greyBorder:#ccc;
$picnicBorder:#e5e1d8;
$errorBorder:#fe3f3f;
$lightGreyBorder:#e7e7e8;
$selectGreyBorder:#3a1500;




// Background Colors -----------------------------------------------------------
$bgbody: #161615;
$bgheader: #f7b621;
$brandBg:#897e6f;
$bgheaderTrans: rgba(19,19,20,0.7);
$bgNavigation: #000;
$stickyLinks: #131314;
$basketBottom: #0D0D11;
$checkoutModulesBg:#131310;
$blackBg:#000;
$overlayBg:#111;	
$orderCnfBgBanner:#61573b;
$pdpReccomBg:#1e1e1c;
$accColor:#1f1f1e;
$bodyGreyBg:#fffbf0;
$basketBg:#f7f4f2;
$brandlightbg:#f7f4f2;
$packerygreyText:#897e6f;
$carouselindicatorGrey:#d5d4d3;
$eModulesBg:#f7f7f7;
$productBg: #090909;
$notifications: #e8c772;
$quantityBg : #494949;
$accessoriesBg: #fffbf0;
$tastingNotesBg: #f7f7f7;
$notifBg:#e9e9e8;
$rollOverBtnBg : #9a9389;


//Text Colors ------------------------------------------------------------------
$white:#fff;
$black:#000;
$brandcolor: #6e6962;
$darkblack:#3a1500;
$bodycolor:#8f8f8f;
$lightGreyText:#666;
$greyText: #888; 
$darkgrey: #3a1500;
$promoMsg: #9980c2;
$accessoryHead: #9882c1;
$footerLinks: #888;
$footerDivider:#9e8a59;
$lightboxBg:#211e29;
$plpProductNames:#898989;
$ordergreytext:#d4d4d4;
$buttonColor:#f7b436;
$blackgrey:#8d9091;
$lightergrey:#adafb0;
$brandBorder:#fca128; 
$white:#fff;
$black:#000;
$tastingNotesHeading: #fbb600;
$formLabel: #3a1500;
$closeBtnColor: #363535;
$darkBrownText: #3a1500;
$regIntBg:#f2f1ee;
$greyBlack : #707070;
$rollOverLinkState : #6e6962;
$tastingNotesRollOverText: #b5afa5;




