.categoryProducts{
	background:$black;
	h2{
		font:$small_text $titleFont;
		color:$darkblack;
		text-transform:uppercase;
		text-align:center;
		margin:0 0 35px 0;
		padding: 35px 0 0 0;
		letter-spacing:2px;
	}
	.homePage{
		.moetCaro{
			max-width:1199px;
			.box{
				height:450px;
			}
			.slider{
				li{
					height:auto;
					float: left;
					img{
						height:320px;
						width:auto;
						&.homeBadge {
							height: 103px;
							width: 120px;
						}
					}
					.overlay_anim, .hr-line, h2.secondary, .productBoxDescription, .product-promo{
						display:none;
					}
					.pImage{
						height:320px;
						border-right:1px solid $picnicBorder;
						margin:0 0 10px;
					}
					*{
						color:$black;
					}
					a.product-info{
						color:$darkgrey;
						&:hover{
							*{
								color:$darkgrey;
							}	
						}
					}
					h3.secondary{
						font:normal 11px $titleFont;
						margin:0;
						font-weight: $bold;
						color: $white !important;
					}
					.price{
						font:normal $big_text $regularFont;
						display:block;
						margin:0 0 10px;
						letter-spacing:0px;
						
						.product-sales-price{
							color:$white !important;
						}
						
						.product-standard-price {
							color:$white !important;
						}
					}
					&.in:last-child{
						.pImage{
							border-right:0;
						}
					}
				}
			}
			.button.fill .face{
				
			}
			.controls{
				.disable {
					opacity : 0.5;
				}
				a{
					background:transparent;
				    border: 0 none;
				    color: $greyText;
				    font-family: 'icomoon';
				    font-size: 50px;
				    height: 46px;
				    width: 42px;
					&.prev:before{
						content: "\e616";
					}
					&.next:before {
						content: "\e617";
					}
				}
			}
		}
	}
}
